torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
numpy<2.0.0
fastapi
uvicorn
pydantic
soundfile
loguru
streamlit
requests
python-dotenv
onnxruntime
gradio
librosa
pytorch-lightning
torchmetrics
huggingface-hub<1.0.0
transformers==4.40.2
psutil